  body
  {
    /* background-color: #0ca3d2; */
    background-image: url('../img/registered_complains_hori.jpg');
    background-position:40%;
    background-size: cover;
  }
  table, th, td{

    background-color: red ;
    opacity: 0.8;
    color: white;
    

  }
  table{
    box-shadow: 0 5px 10px 15px rgba(0, 0, 0, 0.5);
  }
  

    