  body
  {
    /* background-color: #0ca3d2; */
    background-image: url('../img/registered_complains_hori.jpg');
    background-position:40%;
    background-size: cover;
    background-attachment: fixed;
  }
  table, th, td{

    background-color: red ;
    opacity: 0.8;
    color: white;
    /*first test : testing branch here */
    

  }
  table{
    box-shadow: 0 5px 10px 15px rgba(0, 0, 0, 0.5);
  }
  .dataTables_length select {
    background-color: black;
    color: white;
    opacity: 0.5;
    
   }

 .dataTables_filter input {
    background-color: black;
    color: white;
    opacity: 0.5;
    margin-right: 3em;
    border-radius: 9px;
    box-shadow: 0 5px 10px 15px rgba(0, 0, 0, 0.5);
 }

 
  

    