body{
    background-image:url('../img/dashboard-bg.jpg');
}

.side-box{
    margin: 30px 0px;
    padding: 20px 0px;
    /* height: 500px;
    width: 250px; */
    background-color: rgba(0, 75, 0, 0.5);
}

.content{
    font-size: 2rem;
}

.content > a{
    color: white;
}

.content > a:hover{
    color: blanchedalmond;
    background-color: rgba(0, 75, 0, 0.55);
    text-decoration: none;
    padding: 10px;
}

/* .mango{
    margin: 30px 0px;
    padding: 20px 0px;
    
    background-color: rgba(0, 75, 0, 0.5);
} */
.mango{
    background-color: rgba(0,0,255,0.3);
    height: 40%;
    color: wheat;
    padding: 5px;
    height: 24em;
    overflow-y: scroll;
    /* font-size: 40px;*/ 
}
.mango >a{
    color: whitesmoke;
}
.mango >a:hover{
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}

b,strong{
    font-size: 30px;
}
/* desktop view */
@media screen and (min-width: 800px) {
    
    body{
        background-image: url('../img/dashboard-bg-dv.jpg');
        background-size: cover;

    }

    .side-box{
        display: flex;
        align-self: flex-end;
        margin-top: 30px;
        /* height: 500px; */
        /* width: 250px; */
        background-color: rgba(0, 75, 0, 0.5);
    }
  }

  /* mobile view */
  @media screen and (max-width: 800px) {
    
    .content{
        font-size: 1.5rem;
    }
  }
  /* #0ca3d2 */