/* #mytable {
      opacity: 0.97;
      background: transparent;
  } */

  body
  {
    /* background-color: #0ca3d2; */
    background-image: url('../img/profile.jpg');
    /* background-position:40%; */
    background-size: cover;
  }

  /* .bg {
            width: 100%;
            position: absolute;
            z-index: -1;
            opacity: 0.6;
         } */
     